body{background-color: black;}
video {
    
    min-width: 100%;
    
    min-height: 100%;
    
    z-index: -100;
    
    background-position: center;
    
    background-size: cover;
    
    }
.a{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1780px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.b{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1820px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.c{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1860px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.d{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1900px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.e{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1940px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.f{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1980px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.g{
    height: 20px;
    width: 200px;
    position: absolute;
    top:2020px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.h{
    height: 20px;
    width: 200px;
    position: absolute;
    top:2060px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.i{
    height: 20px;
    width: 200px;
    position: absolute;
    top:2100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.j{
    height: 20px;
    width: 200px;
    position: absolute;
    top:2140px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.b1{
    height: 20px;
    width: 200px;
    position: absolute;
    top:320px;
    bottom: 0px;
    left: 200px;
    right: 0px;
    margin:auto;
    z-index:  3;
}
.b2{
    height: 20px;
    width: 200px;
    position: absolute;
    top:500px;
    bottom: 0px;
    left: 0px;
    right: 320px;
    margin:auto;
    z-index: 4;
}
.b3{
    height: 20px;
    width: 200px;
    position: absolute;
    top:760px;
    bottom: 0px;
    left: 120px;
    right: 0px;
    margin:auto;
    z-index: 3;
}
.b4{
    height: 20px;
    width: 200px;
    position: absolute;
    top:650px;
    bottom: 0px;
    left: 400px;
    right: 0px;
    margin:auto;
    z-index: 4;
}
.b5{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1000px;
    bottom: 0px;
    left: 0px;
    right: 300px;
    margin:auto;
    z-index: 2;
}
.b6{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1200px;
    bottom: 0px;
    left: 200px;
    right: 0px;
    margin:auto;
    z-index: 1;
}.b7{
    height: 20px;
    width: 200px;
    position: absolute;
    top:1500px;
    bottom: 0px;
    left: 0px;
    right: 200px;
    margin:auto;
    z-index: 2;
}
.a1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: 150;
}
.b12{
    height: 20px;
    width: 220px;
    position: absolute;
    top:90px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: 150;
}
.c1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:130px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: 150;
}
.d1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:170px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: 150;
}
.e1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:210px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: 150;
}
.f1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:250px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: 150;
}
.g1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:290px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: 150;
}
.h1{
    height: 20px;
    width: 220px;
    position: absolute;
    top: 330px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: 150;
}
.i1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:370px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: 150;
}
.j1{
    height: 20px;
    width: 220px;
    position: absolute;
    top:410px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: 150;
}