body{background-color: black;}
.a{
    height: 20px;
    width: 200px;
    position: absolute;
    top:280px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.b{
    height: 20px;
    width: 200px;
    position: absolute;
    top:320px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.c{
    height: 20px;
    width: 200px;
    position: absolute;
    top:360px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.d{
    height: 20px;
    width: 200px;
    position: absolute;
    top:400px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.e{
    height: 20px;
    width: 200px;
    position: absolute;
    top:440px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.f{
    height: 20px;
    width: 200px;
    position: absolute;
    top:480px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.g{
    height: 20px;
    width: 200px;
    position: absolute;
    top:520px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.h{
    height: 20px;
    width: 200px;
    position: absolute;
    top:560px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}
.i{
    height: 20px;
    width: 200px;
    position: absolute;
    top:600px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: red;
    font-size: larger;
}
.j{
    height: 20px;
    width: 200px;
    position: absolute;
    top:640px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:auto;
    color: rgb(100, 23, 151);
    font-size: larger;
}